body {
    background-color: #0d0d0d;
    color           : #00ffcc;
    font-family     : 'Courier New', monospace;
    padding         : 2rem;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow   : 0 0 5px #00ffff, 0 0 10px #ff00ff;
}

.glitch {
    animation: flicker 1.5s infinite alternate;
}

nav {
    margin-bottom: 2rem;
    display      : flex;
    gap          : 1rem;
}

.nav-button {
    background-color: transparent;
    border          : 2px solid #00ffcc;
    color           : #00ffcc;
    padding         : 0.5rem 1rem;
    font-family     : 'Courier New', monospace;
    font-size       : 1rem;
    text-transform  : uppercase;
    letter-spacing  : 1px;
    cursor          : pointer;
    position        : relative;
    overflow        : hidden;
    transition      : all 0.2s ease;
}

.nav-button::after {
    content   : "";
    position  : absolute;
    top       : 0;
    left      : -100%;
    width     : 100%;
    height    : 100%;
    background: #ff00ff33;
    transition: all 0.3s ease;
    z-index   : 0;
}

.nav-button:hover::after {
    left: 0;
}

.nav-button:hover {
    color       : #ffffff;
    border-color: #ff00ff;
    text-shadow : 0 0 5px #00ffff, 0 0 10px #ff00ff;
}

.nav-button:active,
.nav-button.active {
    background-color: #ff00ff22;
    transform       : scale(0.95);
    box-shadow      : 0 0 5px #ff00ff, 0 0 15px #00ffff;
}


@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity  : 0.8;
        transform: skew(-0.5deg);
    }

    100% {
        opacity  : 1;
        transform: skew(0.5deg);
    }
}

ul {
    list-style-type: none;
    padding        : 0;
}

li::before {
    content: "▣ ";
    color  : #ff00ff;
}



#content ul li:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #00ffff,
        0 0 10px #ff00ff,
        0 0 20px #00ffff;
    animation: flickerHover 0.2s infinite alternate;
    transform: scale(1.03);
    cursor   : pointer;
}

@keyframes flickerHover {
    0% {
        opacity  : 1;
        transform: scale(1.03) skew(0.2deg);
    }

    50% {
        opacity  : 0.9;
        transform: scale(1.035) skew(-0.2deg);
    }

    100% {
        opacity  : 1;
        transform: scale(1.03) skew(0.2deg);
    }
}